{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "browsers": [
            "last 3 versions",
            "ie >= 11"
          ]
        },
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ]
}