<main class="main">
  <h1 class="">HOME</h1>
  <p>ホームページです。</p>
  <figure style="text-align: center;">
    <img src="/assets/images/33182094584_4352068d39_o.webp" alt="" style="width: 200px;" />
  </figure>
</main>